src/doc-review-agent/agent_dsl/文档审核--切片审核(范本审核).yml
app:
  description: 文档审核--切片审核(范本审核)
  icon: 2df6798d-88ec-417e-b9fb-6c489ced1b3a
  icon_background: ''
  icon_type: image
  mode: workflow
  name: 文档审核--切片审核(范本审核)
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: package
  value:
    plugin_unique_identifier: sawyer-shi/doc-review-agent:0.0.2@b63b9c909ed876e964c582b025d48a14a8ef85c0c8f5980ffaf1262807746a49
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: tool
      id: 1775986596194-source-1776059513279-target
      source: '1775986596194'
      sourceHandle: source
      target: '1776059513279'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: end
      id: 1776059513279-source-1775986601348-target
      source: '1776059513279'
      sourceHandle: source
      target: '1775986601348'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        author: sawyer
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"防止超时可以修改参数PLUGIN_MAX_EXECUTION_TIMEOUT来增加处理时间，防止超时！！！","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":null,"format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 900
      height: 88
      id: '1775395337617'
      position:
        x: 840.0414762676814
        y: 153.51458701850183
      positionAbsolute:
        x: 840.0414762676814
        y: 153.51458701850183
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 900
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          default: ''
          hint: ''
          label: doc_file
          options: []
          placeholder: ''
          required: true
          type: file
          variable: doc_file
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          default: ''
          hint: ''
          label: template_doc
          options: []
          placeholder: ''
          required: true
          type: file
          variable: template_doc
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          default: ''
          hint: ''
          label: rule_excel_csv_file
          options: []
          placeholder: ''
          required: false
          type: file
          variable: rule_excel_csv_file
      height: 161
      id: '1775986596194'
      position:
        x: 540.981956777477
        y: 282.8300478967184
      positionAbsolute:
        x: 540.981956777477
        y: 282.8300478967184
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1776059513279'
          - text
          value_type: string
          variable: text
        - value_selector:
          - '1776059513279'
          - json
          value_type: array[object]
          variable: json
        - value_selector:
          - '1776059513279'
          - files
          value_type: array[file]
          variable: files
        selected: false
        title: 输出
        type: end
      height: 140
      id: '1775986601348'
      position:
        x: 1783.49126989643
        y: 303.8300478967184
      positionAbsolute:
        x: 1783.49126989643
        y: 303.8300478967184
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: The shared LLM model used by all internal audit steps.
            ja_JP: The shared LLM model used by all internal audit steps.
            pt_BR: The shared LLM model used by all internal audit steps.
            zh_Hans: 所有内部审核步骤共用的 LLM 模型。
          label:
            en_US: LLM Model
            ja_JP: LLM Model
            pt_BR: LLM Model
            zh_Hans: LLM 模型
          llm_description: Shared LLM model used by the full document audit workflow.
          max: null
          min: null
          name: model_config
          options: []
          placeholder: null
          precision: null
          required: true
          scope: llm
          template: null
          type: model-selector
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The source document file to audit, docx only.
            ja_JP: The source document file to audit, docx only.
            pt_BR: The source document file to audit, docx only.
            zh_Hans: 待审核的源文档，仅支持 docx。
          label:
            en_US: Document File
            ja_JP: Document File
            pt_BR: Document File
            zh_Hans: 待审核文档
          llm_description: The source document file to audit, docx only.
          max: null
          min: null
          name: upload_file
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: file
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Template baseline document in docx format. Required for template
              comparison audit.
            ja_JP: Template baseline document in docx format. Required for template
              comparison audit.
            pt_BR: Template baseline document in docx format. Required for template
              comparison audit.
            zh_Hans: docx 格式的范本文档。用于范本对比审核，必填。
          label:
            en_US: Template File
            ja_JP: Template File
            pt_BR: Template File
            zh_Hans: 范本文档
          llm_description: Template baseline document file, docx only, required for
            template comparison audit.
          max: null
          min: null
          name: template_file
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: file
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 'Optional review rules file in xlsx or csv format. Required columns:
              rule_code, rule_name, rule_level, rule_prompt. If provided, rule-based
              slice audit runs in addition to template comparison audit.'
            ja_JP: 'Optional review rules file in xlsx or csv format. Required columns:
              rule_code, rule_name, rule_level, rule_prompt. If provided, rule-based
              slice audit runs in addition to template comparison audit.'
            pt_BR: 'Optional review rules file in xlsx or csv format. Required columns:
              rule_code, rule_name, rule_level, rule_prompt. If provided, rule-based
              slice audit runs in addition to template comparison audit.'
            zh_Hans: 可选的 xlsx 或 csv 审核规则文件。必须包含字段：rule_code, rule_name, rule_level,
              rule_prompt。提供后将同时执行规则切片审核与范本对比审核。
          label:
            en_US: Rules File (Optional)
            ja_JP: Rules File (Optional)
            pt_BR: Rules File (Optional)
            zh_Hans: 规则文件(可选)
          llm_description: 'Optional review rules file in xlsx or csv format. Required
            columns: rule_code, rule_name, rule_level, rule_prompt.'
          max: null
          min: null
          name: rules_file
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: file
        - auto_generate: null
          default: ''
          form: llm
          human_description:
            en_US: 'Select how document chunks are split before auditing.

              - default: paragraph accumulation with max_chunk_chars guard.

              - by_heading: split on heading-like boundaries.

              - by_article: split on article/clause-like boundaries.

              - by_paragraph: one paragraph per chunk.

              - by_sentence: sentence-level split and packing.

              - hybrid: split on heading OR article boundaries.'
            ja_JP: 'Select how document chunks are split before auditing.

              - default: paragraph accumulation with max_chunk_chars guard.

              - by_heading: split on heading-like boundaries.

              - by_article: split on article/clause-like boundaries.

              - by_paragraph: one paragraph per chunk.

              - by_sentence: sentence-level split and packing.

              - hybrid: split on heading OR article boundaries.'
            pt_BR: 'Select how document chunks are split before auditing.

              - default: paragraph accumulation with max_chunk_chars guard.

              - by_heading: split on heading-like boundaries.

              - by_article: split on article/clause-like boundaries.

              - by_paragraph: one paragraph per chunk.

              - by_sentence: sentence-level split and packing.

              - hybrid: split on heading OR article boundaries.'
            zh_Hans: '选择审核前的文档切片方式。

              - default：按段落累加并受 max_chunk_chars 限制。

              - by_heading：按标题样式边界切分。

              - by_article：按条款样式边界切分。

              - by_paragraph：一段一片。

              - by_sentence：按句子切分后再聚合。

              - hybrid：标题或条款任一命中即切分。'
          label:
            en_US: Slice Strategy
            ja_JP: Slice Strategy
            pt_BR: Slice Strategy
            zh_Hans: 切片策略
          llm_description: 'Select chunk splitting strategy: default/by_heading/by_article/by_paragraph/by_sentence/hybrid.'
          max: null
          min: null
          name: slice_strategy
          options:
          - icon: ''
            label:
              en_US: Default
              ja_JP: Default
              pt_BR: Default
              zh_Hans: 默认
            value: ''
          - icon: ''
            label:
              en_US: By Heading
              ja_JP: By Heading
              pt_BR: By Heading
              zh_Hans: 按标题
            value: by_heading
          - icon: ''
            label:
              en_US: By Article
              ja_JP: By Article
              pt_BR: By Article
              zh_Hans: 按条款
            value: by_article
          - icon: ''
            label:
              en_US: By Paragraph
              ja_JP: By Paragraph
              pt_BR: By Paragraph
              zh_Hans: 按段落
            value: by_paragraph
          - icon: ''
            label:
              en_US: By Sentence
              ja_JP: By Sentence
              pt_BR: By Sentence
              zh_Hans: 按句子
            value: by_sentence
          - icon: ''
            label:
              en_US: Hybrid
              ja_JP: Hybrid
              pt_BR: Hybrid
              zh_Hans: 混合
            value: hybrid
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: 1200
          form: llm
          human_description:
            en_US: Suggested max characters per chunk.
            ja_JP: Suggested max characters per chunk.
            pt_BR: Suggested max characters per chunk.
            zh_Hans: 每个切片的建议最大字符数。
          label:
            en_US: Max Chunk Chars
            ja_JP: Max Chunk Chars
            pt_BR: Max Chunk Chars
            zh_Hans: 切片最大字符数
          llm_description: Suggested max characters per chunk.
          max: null
          min: null
          name: max_chunk_chars
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 'Optional audit hint, for example: I am Party A / I am Party B.'
            ja_JP: 'Optional audit hint, for example: I am Party A / I am Party B.'
            pt_BR: 'Optional audit hint, for example: I am Party A / I am Party B.'
            zh_Hans: 可选审核提示，例如：我是甲方；我是乙方。
          label:
            en_US: Extra Hint
            ja_JP: Extra Hint
            pt_BR: Extra Hint
            zh_Hans: 额外提示
          llm_description: 'Optional audit hint, for example: I am Party A / I am
            Party B.'
          max: null
          min: null
          name: extra_hint
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: auto
          form: llm
          human_description:
            en_US: Output language for audit reasoning and suggestions.
            ja_JP: Output language for audit reasoning and suggestions.
            pt_BR: Output language for audit reasoning and suggestions.
            zh_Hans: 审核原因与建议的输出语言。
          label:
            en_US: Output Language
            ja_JP: Output Language
            pt_BR: Output Language
            zh_Hans: 输出语言
          llm_description: Output language for audit reasoning and suggestions.
          max: null
          min: null
          name: output_language
          options:
          - icon: ''
            label:
              en_US: Auto Detect
              ja_JP: Auto Detect
              pt_BR: Auto Detect
              zh_Hans: 自动识别
            value: auto
          - icon: ''
            label:
              en_US: Chinese
              ja_JP: Chinese
              pt_BR: Chinese
              zh_Hans: 中文
            value: zh
          - icon: ''
            label:
              en_US: English
              ja_JP: English
              pt_BR: English
              zh_Hans: 英文
            value: en
          - icon: ''
            label:
              en_US: Japanese
              ja_JP: Japanese
              pt_BR: Japanese
              zh_Hans: 日文
            value: ja
          - icon: ''
            label:
              en_US: Korean
              ja_JP: Korean
              pt_BR: Korean
              zh_Hans: 韩文
            value: ko
          - icon: ''
            label:
              en_US: Spanish
              ja_JP: Spanish
              pt_BR: Spanish
              zh_Hans: 西班牙文
            value: es
          - icon: ''
            label:
              en_US: French
              ja_JP: French
              pt_BR: French
              zh_Hans: 法文
            value: fr
          - icon: ''
            label:
              en_US: German
              ja_JP: German
              pt_BR: German
              zh_Hans: 德文
            value: de
          - icon: ''
            label:
              en_US: Portuguese
              ja_JP: Portuguese
              pt_BR: Portuguese
              zh_Hans: 葡萄牙文
            value: pt
          - icon: ''
            label:
              en_US: Russian
              ja_JP: Russian
              pt_BR: Russian
              zh_Hans: 俄文
            value: ru
          - icon: ''
            label:
              en_US: Arabic
              ja_JP: Arabic
              pt_BR: Arabic
              zh_Hans: 阿拉伯文
            value: ar
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: 1
          form: llm
          human_description:
            en_US: Number of worker threads used during rule-based chunk auditing.
            ja_JP: Number of worker threads used during rule-based chunk auditing.
            pt_BR: Number of worker threads used during rule-based chunk auditing.
            zh_Hans: 规则分片审核阶段使用的并发线程数。
          label:
            en_US: Thread Number
            ja_JP: Thread Number
            pt_BR: Thread Number
            zh_Hans: 并发线程数
          llm_description: Number of worker threads used during rule-based chunk auditing.
          max: null
          min: null
          name: thread_num
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: dedupe_by_rule_code_quote_location
          form: llm
          human_description:
            en_US: 'Controls how duplicate risk hits are deduplicated during aggregation.

              - dedupe_by_rule_code_quote_location: keep same quote in different locations
              separately.

              - dedupe_by_rule_code_quote: merge same rule+quote across locations.

              - dedupe_by_quote: merge by quote text only.

              - dedupe_by_rule_code: merge all hits under same rule code.

              - dedupe_by_chunk_rule: merge by chunk_id + rule code.

              - no_dedupe: keep all raw hits.'
            ja_JP: 'Controls how duplicate risk hits are deduplicated during aggregation.

              - dedupe_by_rule_code_quote_location: keep same quote in different locations
              separately.

              - dedupe_by_rule_code_quote: merge same rule+quote across locations.

              - dedupe_by_quote: merge by quote text only.

              - dedupe_by_rule_code: merge all hits under same rule code.

              - dedupe_by_chunk_rule: merge by chunk_id + rule code.

              - no_dedupe: keep all raw hits.'
            pt_BR: 'Controls how duplicate risk hits are deduplicated during aggregation.

              - dedupe_by_rule_code_quote_location: keep same quote in different locations
              separately.

              - dedupe_by_rule_code_quote: merge same rule+quote across locations.

              - dedupe_by_quote: merge by quote text only.

              - dedupe_by_rule_code: merge all hits under same rule code.

              - dedupe_by_chunk_rule: merge by chunk_id + rule code.

              - no_dedupe: keep all raw hits.'
            zh_Hans: '控制风险聚合时重复命中的去重方式。

              - dedupe_by_rule_code_quote_location：同句不同位置不合并。

              - dedupe_by_rule_code_quote：同规则同引用跨位置合并。

              - dedupe_by_quote：仅按引用文本合并。

              - dedupe_by_rule_code：同规则下全部命中合并。

              - dedupe_by_chunk_rule：按 chunk_id + 规则编号合并。

              - no_dedupe：不去重，保留全部命中。'
          label:
            en_US: Merge Policy
            ja_JP: Merge Policy
            pt_BR: Merge Policy
            zh_Hans: 风险合并策略
          llm_description: Merge policy for dedupe and conflict resolution among risk
            hits.
          max: null
          min: null
          name: merge_policy
          options:
          - icon: ''
            label:
              en_US: Rule+Quote+Location
              ja_JP: Rule+Quote+Location
              pt_BR: Rule+Quote+Location
              zh_Hans: 规则+引用+位置
            value: dedupe_by_rule_code_quote_location
          - icon: ''
            label:
              en_US: Rule+Quote
              ja_JP: Rule+Quote
              pt_BR: Rule+Quote
              zh_Hans: 规则+引用
            value: dedupe_by_rule_code_quote
          - icon: ''
            label:
              en_US: Quote only
              ja_JP: Quote only
              pt_BR: Quote only
              zh_Hans: 仅按引用去重
            value: dedupe_by_quote
          - icon: ''
            label:
              en_US: Rule only
              ja_JP: Rule only
              pt_BR: Rule only
              zh_Hans: 仅按规则去重
            value: dedupe_by_rule_code
          - icon: ''
            label:
              en_US: Chunk+Rule
              ja_JP: Chunk+Rule
              pt_BR: Chunk+Rule
              zh_Hans: 按切片+规则去重
            value: dedupe_by_chunk_rule
          - icon: ''
            label:
              en_US: No dedupe
              ja_JP: No dedupe
              pt_BR: No dedupe
              zh_Hans: 不去重
            value: no_dedupe
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: comment
          form: llm
          human_description:
            en_US: 'Annotation style for generated Word comments.

              - comment: insert native Word comments with rule code, severity, and
              suggestion.'
            ja_JP: 'Annotation style for generated Word comments.

              - comment: insert native Word comments with rule code, severity, and
              suggestion.'
            pt_BR: 'Annotation style for generated Word comments.

              - comment: insert native Word comments with rule code, severity, and
              suggestion.'
            zh_Hans: '生成 Word 批注时使用的批注风格。

              - comment：以原生 Word 批注写入规则编号、风险等级和建议。'
          label:
            en_US: Annotation Style
            ja_JP: Annotation Style
            pt_BR: Annotation Style
            zh_Hans: 批注风格
          llm_description: Annotation style for the generated Word comments.
          max: null
          min: null
          name: annotation_style
          options:
          - icon: ''
            label:
              en_US: Comment
              ja_JP: Comment
              pt_BR: Comment
              zh_Hans: 批注
            value: comment
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: keep_highest_risk
          form: llm
          human_description:
            en_US: 'Strategy used when multiple risk comments target the same original
              text.

              - keep_highest_risk: keep the highest-severity comment.

              - keep_semantic: keep one best comment by semantic quality.

              - merge_semantic: merge multiple comments into one integrated guidance.'
            ja_JP: 'Strategy used when multiple risk comments target the same original
              text.

              - keep_highest_risk: keep the highest-severity comment.

              - keep_semantic: keep one best comment by semantic quality.

              - merge_semantic: merge multiple comments into one integrated guidance.'
            pt_BR: 'Strategy used when multiple risk comments target the same original
              text.

              - keep_highest_risk: keep the highest-severity comment.

              - keep_semantic: keep one best comment by semantic quality.

              - merge_semantic: merge multiple comments into one integrated guidance.'
            zh_Hans: '同一原文存在多个风险批注时的合并策略。

              - keep_highest_risk：保留风险等级最高的批注。

              - keep_semantic：按语义质量保留最优单条批注。

              - merge_semantic：将多条批注语义合并为一条综合建议。'
          label:
            en_US: Revision Merge Strategy
            ja_JP: Revision Merge Strategy
            pt_BR: Revision Merge Strategy
            zh_Hans: 修订合并策略
          llm_description: Strategy for handling multiple comments on the same original
            text.
          max: null
          min: null
          name: merge_strategy
          options:
          - icon: ''
            label:
              en_US: Keep Highest Risk
              ja_JP: Keep Highest Risk
              pt_BR: Keep Highest Risk
              zh_Hans: 按风险等级保留
            value: keep_highest_risk
          - icon: ''
            label:
              en_US: Keep Semantic Best
              ja_JP: Keep Semantic Best
              pt_BR: Keep Semantic Best
              zh_Hans: 按语义保留
            value: keep_semantic
          - icon: ''
            label:
              en_US: Semantic Merge
              ja_JP: Semantic Merge
              pt_BR: Semantic Merge
              zh_Hans: 语义合并
            value: merge_semantic
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: 'no'
          form: llm
          human_description:
            en_US: 'Whether to apply latest revision text back to original document.

              - no: keep original text unchanged, refresh comments only.

              - yes: apply revised text and keep latest comments.'
            ja_JP: 'Whether to apply latest revision text back to original document.

              - no: keep original text unchanged, refresh comments only.

              - yes: apply revised text and keep latest comments.'
            pt_BR: 'Whether to apply latest revision text back to original document.

              - no: keep original text unchanged, refresh comments only.

              - yes: apply revised text and keep latest comments.'
            zh_Hans: '是否将最终修订内容回写到原文。

              - no：不改动原文，仅刷新批注。

              - yes：按修订建议改动原文并保留最新批注。'
          label:
            en_US: Apply to Original
            ja_JP: Apply to Original
            pt_BR: Apply to Original
            zh_Hans: 是否修改原文
          llm_description: Whether to apply the latest revision text back to the original
            document.
          max: null
          min: null
          name: apply_to_original
          options:
          - icon: ''
            label:
              en_US: 'No'
              ja_JP: 'No'
              pt_BR: 'No'
              zh_Hans: 否
            value: 'no'
          - icon: ''
            label:
              en_US: 'Yes'
              ja_JP: 'Yes'
              pt_BR: 'Yes'
              zh_Hans: 是
            value: 'yes'
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Final revised output file name without extension.
            ja_JP: Final revised output file name without extension.
            pt_BR: Final revised output file name without extension.
            zh_Hans: 最终修订文件名，不含扩展名。
          label:
            en_US: Output File Name
            ja_JP: Output File Name
            pt_BR: Output File Name
            zh_Hans: 输出文件名
          llm_description: Final revised output file name without extension.
          max: null
          min: null
          name: output_file_name
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: summary_only
          form: llm
          human_description:
            en_US: 'Final JSON output mode.

              - summary_only: output only final summary metrics.

              - detailed: output summary plus all intermediate payloads.'
            ja_JP: 'Final JSON output mode.

              - summary_only: output only final summary metrics.

              - detailed: output summary plus all intermediate payloads.'
            pt_BR: 'Final JSON output mode.

              - summary_only: output only final summary metrics.

              - detailed: output summary plus all intermediate payloads.'
            zh_Hans: '最终 JSON 输出模式。

              - summary_only：仅输出最终摘要指标。

              - detailed：输出摘要和全部中间节点信息。'
          label:
            en_US: JSON Output Mode
            ja_JP: JSON Output Mode
            pt_BR: JSON Output Mode
            zh_Hans: JSON输出模式
          llm_description: 'Control final JSON output mode: summary_only or detailed.'
          max: null
          min: null
          name: output_json_mode
          options:
          - icon: ''
            label:
              en_US: Summary Only
              ja_JP: Summary Only
              pt_BR: Summary Only
              zh_Hans: 仅摘要
            value: summary_only
          - icon: ''
            label:
              en_US: Detailed
              ja_JP: Detailed
              pt_BR: Detailed
              zh_Hans: 详细
            value: detailed
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: revised_only
          form: llm
          human_description:
            en_US: 'Output file mode.

              - revised_only: output only revised_reviewed document.

              - both: output reviewed and revised_reviewed documents.'
            ja_JP: 'Output file mode.

              - revised_only: output only revised_reviewed document.

              - both: output reviewed and revised_reviewed documents.'
            pt_BR: 'Output file mode.

              - revised_only: output only revised_reviewed document.

              - both: output reviewed and revised_reviewed documents.'
            zh_Hans: '输出文件模式。

              - revised_only：仅输出 revised_reviewed 文档。

              - both：同时输出 reviewed 与 revised_reviewed 文档。'
          label:
            en_US: Output File Mode
            ja_JP: Output File Mode
            pt_BR: Output File Mode
            zh_Hans: 输出文件模式
          llm_description: 'Control file outputs: revised_only or both.'
          max: null
          min: null
          name: output_file_mode
          options:
          - icon: ''
            label:
              en_US: Revised Only
              ja_JP: Revised Only
              pt_BR: Revised Only
              zh_Hans: 仅修订稿
            value: revised_only
          - icon: ''
            label:
              en_US: Both Files
              ja_JP: Both Files
              pt_BR: Both Files
              zh_Hans: 两个文件
            value: both
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        params:
          annotation_style: ''
          apply_to_original: ''
          extra_hint: ''
          max_chunk_chars: ''
          merge_policy: ''
          merge_strategy: ''
          model_config: ''
          output_file_mode: ''
          output_file_name: ''
          output_json_mode: ''
          output_language: ''
          rules_file: ''
          slice_strategy: ''
          template_file: ''
          thread_num: ''
          upload_file: ''
        plugin_id: sawyer-shi/doc-review-agent
        plugin_unique_identifier: sawyer-shi/doc-review-agent:0.0.2@9fe72e83079183797394ca6c9a2dadff652bd8e4adaacdbf34904722cdc5a6f3
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=845c4965-7f81-4299-b877-276ac4792c36&filename=ce1b876bd3c4c4d573f10a4cfbebfc84a1b88d405af0c5c45702394a6022f49c.svg
        provider_id: sawyer-shi/doc-review-agent/doc-review-agent
        provider_name: sawyer-shi/doc-review-agent/doc-review-agent
        provider_type: builtin
        selected: false
        title: 文档审核--切片审核(范本审核)
        tool_configurations:
          model_config:
            type: constant
            value:
              completion_params: {}
              mode: chat
              model: glm-4.7
              model_type: llm
              provider: langgenius/zhipuai/zhipuai
        tool_description: 在一个工具中完成文档切片、可选规则加载、范本切片对比审核、风险聚合、批注与修订。
        tool_label: 文档审核--切片审核(范本审核)
        tool_name: doc-slice-audit-template
        tool_node_version: '2'
        tool_parameters:
          annotation_style:
            type: constant
            value: comment
          apply_to_original:
            type: constant
            value: 'yes'
          extra_hint:
            type: mixed
            value: null
          max_chunk_chars:
            type: constant
            value: 1200
          merge_policy:
            type: constant
            value: dedupe_by_rule_code_quote_location
          merge_strategy:
            type: constant
            value: keep_highest_risk
          output_file_mode:
            type: constant
            value: revised_only
          output_file_name:
            type: mixed
            value: null
          output_json_mode:
            type: constant
            value: summary_only
          output_language:
            type: constant
            value: auto
          rules_file:
            type: variable
            value:
            - '1775986596194'
            - rule_excel_csv_file
          slice_strategy:
            type: constant
            value: ''
          template_file:
            type: variable
            value:
            - '1775986596194'
            - template_doc
          thread_num:
            type: constant
            value: 5
          upload_file:
            type: variable
            value:
            - '1775986596194'
            - doc_file
        type: tool
      height: 88
      id: '1776059513279'
      position:
        x: 1157.0248395414258
        y: 303.8300478967184
      positionAbsolute:
        x: 1157.0248395414258
        y: 303.8300478967184
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -448.75736350748093
      y: 203.093989433415
      zoom: 1.0000000000000007
  rag_pipeline_variables: []
