src/doc-review-agent/agent_dsl/文档审核--切片审核(非范本审核).yml
app:
  description: 文档审核--切片审核(非范本审核)
  icon: 2df6798d-88ec-417e-b9fb-6c489ced1b3a
  icon_background: ''
  icon_type: image
  mode: workflow
  name: 文档审核--切片审核(非范本审核)
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: package
  value:
    plugin_unique_identifier: sawyer-shi/doc-review-agent:0.0.2@b63b9c909ed876e964c582b025d48a14a8ef85c0c8f5980ffaf1262807746a49
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: tool
      id: 1775986596194-source-1775975059029-target
      source: '1775986596194'
      sourceHandle: source
      target: '1775975059029'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: end
      id: 1775975059029-source-1775986601348-target
      source: '1775975059029'
      sourceHandle: source
      target: '1775986601348'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        author: sawyer
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"防止超时可以修改参数PLUGIN_MAX_EXECUTION_TIMEOUT来增加处理时间，防止超时！！！","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":null,"format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 900
      height: 88
      id: '1775395337617'
      position:
        x: 840.0414762676814
        y: 153.51458701850183
      positionAbsolute:
        x: 840.0414762676814
        y: 153.51458701850183
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 900
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: The shared LLM model used by all internal audit steps.
            ja_JP: The shared LLM model used by all internal audit steps.
            pt_BR: The shared LLM model used by all internal audit steps.
            zh_Hans: 所有内部审核步骤共用的 LLM 模型。
          label:
            en_US: LLM Model
            ja_JP: LLM Model
            pt_BR: LLM Model
            zh_Hans: LLM 模型
          llm_description: Shared LLM model used by the full document audit workflow.
          max: null
          min: null
          name: model_config
          options: []
          placeholder: null
          precision: null
          required: true
          scope: llm
          template: null
          type: model-selector
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The source document file to audit, docx only.
            ja_JP: The source document file to audit, docx only.
            pt_BR: The source document file to audit, docx only.
            zh_Hans: 待审核的源文档，仅支持 docx。
          label:
            en_US: Document File
            ja_JP: Document File
            pt_BR: Document File
            zh_Hans: 待审核文档
          llm_description: The source document file to audit, docx only.
          max: null
          min: null
          name: upload_file
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: file
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Review rules file in xlsx or csv format.
            ja_JP: Review rules file in xlsx or csv format.
            pt_BR: Review rules file in xlsx or csv format.
            zh_Hans: xlsx 或 csv 格式的审核规则文件。
          label:
            en_US: Rules File
            ja_JP: Rules File
            pt_BR: Rules File
            zh_Hans: 规则文件
          llm_description: Review rules file in xlsx or csv format.
          max: null
          min: null
          name: rules_file
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: file
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Optional legacy parse hint for slicing.
            ja_JP: Optional legacy parse hint for slicing.
            pt_BR: Optional legacy parse hint for slicing.
            zh_Hans: 可选的旧版切片解析提示。
          label:
            en_US: Parse Hint
            ja_JP: Parse Hint
            pt_BR: Parse Hint
            zh_Hans: 解析提示
          llm_description: Optional legacy parse hint for slicing.
          max: null
          min: null
          name: parse_hint
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: ''
          form: llm
          human_description:
            en_US: Select how document chunks are split before auditing.
            ja_JP: Select how document chunks are split before auditing.
            pt_BR: Select how document chunks are split before auditing.
            zh_Hans: 选择审核前的文档切片方式。
          label:
            en_US: Slice Strategy
            ja_JP: Slice Strategy
            pt_BR: Slice Strategy
            zh_Hans: 切片策略
          llm_description: 'Select chunk splitting strategy: default/by_heading/by_article/by_paragraph/by_sentence/hybrid.'
          max: null
          min: null
          name: slice_strategy
          options:
          - icon: ''
            label:
              en_US: Default
              ja_JP: Default
              pt_BR: Default
              zh_Hans: 默认
            value: ''
          - icon: ''
            label:
              en_US: By Heading
              ja_JP: By Heading
              pt_BR: By Heading
              zh_Hans: 按标题
            value: by_heading
          - icon: ''
            label:
              en_US: By Article
              ja_JP: By Article
              pt_BR: By Article
              zh_Hans: 按条款
            value: by_article
          - icon: ''
            label:
              en_US: By Paragraph
              ja_JP: By Paragraph
              pt_BR: By Paragraph
              zh_Hans: 按段落
            value: by_paragraph
          - icon: ''
            label:
              en_US: By Sentence
              ja_JP: By Sentence
              pt_BR: By Sentence
              zh_Hans: 按句子
            value: by_sentence
          - icon: ''
            label:
              en_US: Hybrid
              ja_JP: Hybrid
              pt_BR: Hybrid
              zh_Hans: 混合
            value: hybrid
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: 1200
          form: llm
          human_description:
            en_US: Suggested max characters per chunk.
            ja_JP: Suggested max characters per chunk.
            pt_BR: Suggested max characters per chunk.
            zh_Hans: 每个切片的建议最大字符数。
          label:
            en_US: Max Chunk Chars
            ja_JP: Max Chunk Chars
            pt_BR: Max Chunk Chars
            zh_Hans: 切片最大字符数
          llm_description: Suggested max characters per chunk.
          max: null
          min: null
          name: max_chunk_chars
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Optional audit hint such as party role or review context.
            ja_JP: Optional audit hint such as party role or review context.
            pt_BR: Optional audit hint such as party role or review context.
            zh_Hans: 可选的审核提示，例如主体角色或审核上下文。
          label:
            en_US: Extra Hint
            ja_JP: Extra Hint
            pt_BR: Extra Hint
            zh_Hans: 额外提示
          llm_description: Optional audit hint such as party role or review context.
          max: null
          min: null
          name: extra_hint
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: auto
          form: llm
          human_description:
            en_US: Output language for audit reasoning and suggestions.
            ja_JP: Output language for audit reasoning and suggestions.
            pt_BR: Output language for audit reasoning and suggestions.
            zh_Hans: 审核原因与建议的输出语言。
          label:
            en_US: Output Language
            ja_JP: Output Language
            pt_BR: Output Language
            zh_Hans: 输出语言
          llm_description: Output language for audit reasoning and suggestions.
          max: null
          min: null
          name: output_language
          options:
          - icon: ''
            label:
              en_US: Auto Detect
              ja_JP: Auto Detect
              pt_BR: Auto Detect
              zh_Hans: 自动识别
            value: auto
          - icon: ''
            label:
              en_US: Chinese
              ja_JP: Chinese
              pt_BR: Chinese
              zh_Hans: 中文
            value: zh
          - icon: ''
            label:
              en_US: English
              ja_JP: English
              pt_BR: English
              zh_Hans: 英文
            value: en
          - icon: ''
            label:
              en_US: Japanese
              ja_JP: Japanese
              pt_BR: Japanese
              zh_Hans: 日文
            value: ja
          - icon: ''
            label:
              en_US: Korean
              ja_JP: Korean
              pt_BR: Korean
              zh_Hans: 韩文
            value: ko
          - icon: ''
            label:
              en_US: Spanish
              ja_JP: Spanish
              pt_BR: Spanish
              zh_Hans: 西班牙文
            value: es
          - icon: ''
            label:
              en_US: French
              ja_JP: French
              pt_BR: French
              zh_Hans: 法文
            value: fr
          - icon: ''
            label:
              en_US: German
              ja_JP: German
              pt_BR: German
              zh_Hans: 德文
            value: de
          - icon: ''
            label:
              en_US: Portuguese
              ja_JP: Portuguese
              pt_BR: Portuguese
              zh_Hans: 葡萄牙文
            value: pt
          - icon: ''
            label:
              en_US: Russian
              ja_JP: Russian
              pt_BR: Russian
              zh_Hans: 俄文
            value: ru
          - icon: ''
            label:
              en_US: Arabic
              ja_JP: Arabic
              pt_BR: Arabic
              zh_Hans: 阿拉伯文
            value: ar
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: 1
          form: llm
          human_description:
            en_US: Number of worker threads used during chunk auditing.
            ja_JP: Number of worker threads used during chunk auditing.
            pt_BR: Number of worker threads used during chunk auditing.
            zh_Hans: 分片审核阶段使用的并发线程数。
          label:
            en_US: Thread Number
            ja_JP: Thread Number
            pt_BR: Thread Number
            zh_Hans: 并发线程数
          llm_description: Number of worker threads used during chunk auditing.
          max: null
          min: null
          name: thread_num
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: dedupe_by_rule_code_quote_location
          form: llm
          human_description:
            en_US: Controls how duplicate risk hits are deduplicated during aggregation.
            ja_JP: Controls how duplicate risk hits are deduplicated during aggregation.
            pt_BR: Controls how duplicate risk hits are deduplicated during aggregation.
            zh_Hans: 控制风险聚合时重复命中的去重方式。
          label:
            en_US: Merge Policy
            ja_JP: Merge Policy
            pt_BR: Merge Policy
            zh_Hans: 风险合并策略
          llm_description: Merge policy for dedupe and conflict resolution among risk
            hits.
          max: null
          min: null
          name: merge_policy
          options:
          - icon: ''
            label:
              en_US: Rule+Quote+Location
              ja_JP: Rule+Quote+Location
              pt_BR: Rule+Quote+Location
              zh_Hans: 规则+引用+位置
            value: dedupe_by_rule_code_quote_location
          - icon: ''
            label:
              en_US: Rule+Quote
              ja_JP: Rule+Quote
              pt_BR: Rule+Quote
              zh_Hans: 规则+引用
            value: dedupe_by_rule_code_quote
          - icon: ''
            label:
              en_US: Quote only
              ja_JP: Quote only
              pt_BR: Quote only
              zh_Hans: 仅按引用去重
            value: dedupe_by_quote
          - icon: ''
            label:
              en_US: Rule only
              ja_JP: Rule only
              pt_BR: Rule only
              zh_Hans: 仅按规则去重
            value: dedupe_by_rule_code
          - icon: ''
            label:
              en_US: Chunk+Rule
              ja_JP: Chunk+Rule
              pt_BR: Chunk+Rule
              zh_Hans: 按切片+规则去重
            value: dedupe_by_chunk_rule
          - icon: ''
            label:
              en_US: No dedupe
              ja_JP: No dedupe
              pt_BR: No dedupe
              zh_Hans: 不去重
            value: no_dedupe
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: comment
          form: llm
          human_description:
            en_US: Annotation style for the generated Word comments.
            ja_JP: Annotation style for the generated Word comments.
            pt_BR: Annotation style for the generated Word comments.
            zh_Hans: 生成 Word 批注时使用的批注风格。
          label:
            en_US: Annotation Style
            ja_JP: Annotation Style
            pt_BR: Annotation Style
            zh_Hans: 批注风格
          llm_description: Annotation style for the generated Word comments.
          max: null
          min: null
          name: annotation_style
          options:
          - icon: ''
            label:
              en_US: Comment
              ja_JP: Comment
              pt_BR: Comment
              zh_Hans: 批注
            value: comment
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: keep_highest_risk
          form: llm
          human_description:
            en_US: Strategy used when multiple risk comments target the same original
              text.
            ja_JP: Strategy used when multiple risk comments target the same original
              text.
            pt_BR: Strategy used when multiple risk comments target the same original
              text.
            zh_Hans: 当同一原文存在多个风险批注时使用的合并策略。
          label:
            en_US: Revision Merge Strategy
            ja_JP: Revision Merge Strategy
            pt_BR: Revision Merge Strategy
            zh_Hans: 修订合并策略
          llm_description: Strategy for handling multiple comments on the same original
            text.
          max: null
          min: null
          name: merge_strategy
          options:
          - icon: ''
            label:
              en_US: Keep Highest Risk
              ja_JP: Keep Highest Risk
              pt_BR: Keep Highest Risk
              zh_Hans: 按风险等级保留
            value: keep_highest_risk
          - icon: ''
            label:
              en_US: Keep Semantic Best
              ja_JP: Keep Semantic Best
              pt_BR: Keep Semantic Best
              zh_Hans: 按语义保留
            value: keep_semantic
          - icon: ''
            label:
              en_US: Semantic Merge
              ja_JP: Semantic Merge
              pt_BR: Semantic Merge
              zh_Hans: 语义合并
            value: merge_semantic
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: 'no'
          form: llm
          human_description:
            en_US: Whether to apply the latest revision text back to the original
              document.
            ja_JP: Whether to apply the latest revision text back to the original
              document.
            pt_BR: Whether to apply the latest revision text back to the original
              document.
            zh_Hans: 是否将最终修订内容回写到原文。
          label:
            en_US: Apply to Original
            ja_JP: Apply to Original
            pt_BR: Apply to Original
            zh_Hans: 是否修改原文
          llm_description: Whether to apply the latest revision text back to the original
            document.
          max: null
          min: null
          name: apply_to_original
          options:
          - icon: ''
            label:
              en_US: 'No'
              ja_JP: 'No'
              pt_BR: 'No'
              zh_Hans: 否
            value: 'no'
          - icon: ''
            label:
              en_US: 'Yes'
              ja_JP: 'Yes'
              pt_BR: 'Yes'
              zh_Hans: 是
            value: 'yes'
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Final revised output file name without extension.
            ja_JP: Final revised output file name without extension.
            pt_BR: Final revised output file name without extension.
            zh_Hans: 最终修订文件名，不含扩展名。
          label:
            en_US: Output File Name
            ja_JP: Output File Name
            pt_BR: Output File Name
            zh_Hans: 输出文件名
          llm_description: Final revised output file name without extension.
          max: null
          min: null
          name: output_file_name
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          annotation_style: ''
          apply_to_original: ''
          extra_hint: ''
          max_chunk_chars: ''
          merge_policy: ''
          merge_strategy: ''
          model_config: ''
          output_file_name: ''
          output_language: ''
          parse_hint: ''
          rules_file: ''
          slice_strategy: ''
          thread_num: ''
          upload_file: ''
        plugin_id: sawyer-shi/doc-review-agent
        plugin_unique_identifier: sawyer-shi/doc-review-agent:0.0.2@adf158dcaf53a473995c76745ac4947d3d13cd54feba3cda436383b802f16b12
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=845c4965-7f81-4299-b877-276ac4792c36&filename=ce1b876bd3c4c4d573f10a4cfbebfc84a1b88d405af0c5c45702394a6022f49c.svg
        provider_id: sawyer-shi/doc-review-agent/doc-review-agent
        provider_name: sawyer-shi/doc-review-agent/doc-review-agent
        provider_type: builtin
        selected: false
        title: 文档审核--切片审核(非范本审核)
        tool_configurations:
          model_config:
            type: constant
            value:
              completion_params: {}
              mode: chat
              model: glm-4.7
              model_type: llm
              provider: langgenius/zhipuai/zhipuai
        tool_description: 在一个工具中完成文档切片、规则加载、分片审核、风险聚合、批注与修订。
        tool_label: 文档切片审核
        tool_name: doc-slice-audit
        tool_node_version: '2'
        tool_parameters:
          annotation_style:
            type: constant
            value: comment
          apply_to_original:
            type: constant
            value: 'yes'
          extra_hint:
            type: mixed
            value: null
          max_chunk_chars:
            type: constant
            value: 1200
          merge_policy:
            type: constant
            value: dedupe_by_rule_code_quote_location
          merge_strategy:
            type: constant
            value: keep_highest_risk
          output_file_mode:
            type: constant
            value: revised_only
          output_file_name:
            type: mixed
            value: null
          output_json_mode:
            type: constant
            value: summary_only
          output_language:
            type: constant
            value: auto
          parse_hint:
            type: mixed
            value: null
          rules_file:
            type: variable
            value:
            - '1775986596194'
            - rule_excel_csv_file
          slice_strategy:
            type: constant
            value: ''
          thread_num:
            type: constant
            value: 5
          upload_file:
            type: variable
            value:
            - '1775986596194'
            - doc_file
        type: tool
      height: 88
      id: '1775975059029'
      position:
        x: 1131.8216735416129
        y: 303.8300478967184
      positionAbsolute:
        x: 1131.8216735416129
        y: 303.8300478967184
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          default: ''
          hint: ''
          label: doc_file
          options: []
          placeholder: ''
          required: true
          type: file
          variable: doc_file
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          default: ''
          hint: ''
          label: rule_excel_csv_file
          options: []
          placeholder: ''
          required: true
          type: file
          variable: rule_excel_csv_file
      height: 135
      id: '1775986596194'
      position:
        x: 540.981956777477
        y: 282.8300478967184
      positionAbsolute:
        x: 540.981956777477
        y: 282.8300478967184
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1775975059029'
          - text
          value_type: string
          variable: text
        - value_selector:
          - '1775975059029'
          - json
          value_type: array[object]
          variable: json
        - value_selector:
          - '1775975059029'
          - files
          value_type: array[file]
          variable: files
        selected: false
        title: 输出
        type: end
      height: 140
      id: '1775986601348'
      position:
        x: 1783.49126989643
        y: 303.8300478967184
      positionAbsolute:
        x: 1783.49126989643
        y: 303.8300478967184
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -363.33448427822293
      y: 352.18980167178404
      zoom: 0.7578582832551993
  rag_pipeline_variables: []
