src/doc-review-agent/agent_dsl/文档审核--简单审核(非范本审核).yml
app:
  description: 文档审核--简单审核(非范本审核)
  icon: a1acf743-e7db-481c-8b51-f01986d4f2a3
  icon_background: ''
  icon_type: image
  mode: workflow
  name: 文档审核--简单审核(非范本审核)
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: package
  value:
    plugin_unique_identifier: sawyer-shi/doc-review-agent:0.0.2@b63b9c909ed876e964c582b025d48a14a8ef85c0c8f5980ffaf1262807746a49
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: tool
      id: 1775979926518-source-1775979956616-target
      source: '1775979926518'
      sourceHandle: source
      target: '1775979956616'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: end
      id: 1775979956616-source-1775979960454-target
      source: '1775979956616'
      sourceHandle: source
      target: '1775979960454'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          default: ''
          hint: ''
          label: doc_file
          options: []
          placeholder: ''
          required: true
          type: file
          variable: doc_file
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          default: ''
          hint: ''
          label: rule_excel_csv_file
          options: []
          placeholder: ''
          required: true
          type: file
          variable: rule_excel_csv_file
      height: 135
      id: '1775979926518'
      position:
        x: -77
        y: 282
      positionAbsolute:
        x: -77
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: The shared LLM model used by all internal audit steps.
            ja_JP: The shared LLM model used by all internal audit steps.
            pt_BR: The shared LLM model used by all internal audit steps.
            zh_Hans: 所有内部审核步骤共用的 LLM 模型。
          label:
            en_US: LLM Model
            ja_JP: LLM Model
            pt_BR: LLM Model
            zh_Hans: LLM 模型
          llm_description: Shared LLM model used by the full document audit workflow.
          max: null
          min: null
          name: model_config
          options: []
          placeholder: null
          precision: null
          required: true
          scope: llm
          template: null
          type: model-selector
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The source document file to audit, docx only.
            ja_JP: The source document file to audit, docx only.
            pt_BR: The source document file to audit, docx only.
            zh_Hans: 待审核的源文档，仅支持 docx。
          label:
            en_US: Document File
            ja_JP: Document File
            pt_BR: Document File
            zh_Hans: 待审核文档
          llm_description: The source document file to audit, docx only.
          max: null
          min: null
          name: upload_file
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: file
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 'Review rules file in xlsx or csv format. Required columns: rule_code,
              rule_name, rule_level, rule_prompt. If fields do not match, document
              audit cannot proceed.'
            ja_JP: 'Review rules file in xlsx or csv format. Required columns: rule_code,
              rule_name, rule_level, rule_prompt. If fields do not match, document
              audit cannot proceed.'
            pt_BR: 'Review rules file in xlsx or csv format. Required columns: rule_code,
              rule_name, rule_level, rule_prompt. If fields do not match, document
              audit cannot proceed.'
            zh_Hans: xlsx 或 csv 格式的审核规则文件。必须包含字段：rule_code, rule_name, rule_level,
              rule_prompt。字段不匹配将无法进行文档审核。
          label:
            en_US: Rules File
            ja_JP: Rules File
            pt_BR: Rules File
            zh_Hans: 规则文件
          llm_description: 'Review rules file in xlsx or csv format. Required columns:
            rule_code, rule_name, rule_level, rule_prompt.'
          max: null
          min: null
          name: rules_file
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: file
        - auto_generate: null
          default: balanced
          form: llm
          human_description:
            en_US: 'Strategy for short full-text audit (single-loop: document vs rules
              one by one).'
            ja_JP: 'Strategy for short full-text audit (single-loop: document vs rules
              one by one).'
            pt_BR: 'Strategy for short full-text audit (single-loop: document vs rules
              one by one).'
            zh_Hans: 短文档全文审核策略（单循环：全文与规则逐条比对）。
          label:
            en_US: Audit Strategy
            ja_JP: Audit Strategy
            pt_BR: Audit Strategy
            zh_Hans: 审核策略
          llm_description: Audit strategy for short full-text single-loop audit.
          max: null
          min: null
          name: audit_strategy
          options:
          - icon: ''
            label:
              en_US: Balanced
              ja_JP: Balanced
              pt_BR: Balanced
              zh_Hans: 平衡策略
            value: balanced
          - icon: ''
            label:
              en_US: Strict Precision
              ja_JP: Strict Precision
              pt_BR: Strict Precision
              zh_Hans: 严格准确
            value: strict_precision
          - icon: ''
            label:
              en_US: High Recall
              ja_JP: High Recall
              pt_BR: High Recall
              zh_Hans: 高召回
            value: high_recall
          - icon: ''
            label:
              en_US: Severity First
              ja_JP: Severity First
              pt_BR: Severity First
              zh_Hans: 严重性优先
            value: severity_first
          - icon: ''
            label:
              en_US: Compliance Explain
              ja_JP: Compliance Explain
              pt_BR: Compliance Explain
              zh_Hans: 合规解释
            value: compliance_explain
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 'Optional audit hint, for example: I am Party A / I am Party B.'
            ja_JP: 'Optional audit hint, for example: I am Party A / I am Party B.'
            pt_BR: 'Optional audit hint, for example: I am Party A / I am Party B.'
            zh_Hans: 可选审核提示，例如：我是甲方；我是乙方。
          label:
            en_US: Extra Hint
            ja_JP: Extra Hint
            pt_BR: Extra Hint
            zh_Hans: 额外提示
          llm_description: 'Optional audit hint, for example: I am Party A / I am
            Party B.'
          max: null
          min: null
          name: extra_hint
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: auto
          form: llm
          human_description:
            en_US: Output language for audit reasoning and suggestions.
            ja_JP: Output language for audit reasoning and suggestions.
            pt_BR: Output language for audit reasoning and suggestions.
            zh_Hans: 审核原因与建议的输出语言。
          label:
            en_US: Output Language
            ja_JP: Output Language
            pt_BR: Output Language
            zh_Hans: 输出语言
          llm_description: Output language for audit reasoning and suggestions.
          max: null
          min: null
          name: output_language
          options:
          - icon: ''
            label:
              en_US: Auto Detect
              ja_JP: Auto Detect
              pt_BR: Auto Detect
              zh_Hans: 自动识别
            value: auto
          - icon: ''
            label:
              en_US: Chinese
              ja_JP: Chinese
              pt_BR: Chinese
              zh_Hans: 中文
            value: zh
          - icon: ''
            label:
              en_US: English
              ja_JP: English
              pt_BR: English
              zh_Hans: 英文
            value: en
          - icon: ''
            label:
              en_US: Japanese
              ja_JP: Japanese
              pt_BR: Japanese
              zh_Hans: 日文
            value: ja
          - icon: ''
            label:
              en_US: Korean
              ja_JP: Korean
              pt_BR: Korean
              zh_Hans: 韩文
            value: ko
          - icon: ''
            label:
              en_US: Spanish
              ja_JP: Spanish
              pt_BR: Spanish
              zh_Hans: 西班牙文
            value: es
          - icon: ''
            label:
              en_US: French
              ja_JP: French
              pt_BR: French
              zh_Hans: 法文
            value: fr
          - icon: ''
            label:
              en_US: German
              ja_JP: German
              pt_BR: German
              zh_Hans: 德文
            value: de
          - icon: ''
            label:
              en_US: Portuguese
              ja_JP: Portuguese
              pt_BR: Portuguese
              zh_Hans: 葡萄牙文
            value: pt
          - icon: ''
            label:
              en_US: Russian
              ja_JP: Russian
              pt_BR: Russian
              zh_Hans: 俄文
            value: ru
          - icon: ''
            label:
              en_US: Arabic
              ja_JP: Arabic
              pt_BR: Arabic
              zh_Hans: 阿拉伯文
            value: ar
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: 1
          form: llm
          human_description:
            en_US: Reserved for compatibility, not used in full-text single-loop mode.
            ja_JP: Reserved for compatibility, not used in full-text single-loop mode.
            pt_BR: Reserved for compatibility, not used in full-text single-loop mode.
            zh_Hans: 兼容保留字段，在全文单循环模式下不生效。
          label:
            en_US: Thread Number
            ja_JP: Thread Number
            pt_BR: Thread Number
            zh_Hans: 并发线程数
          llm_description: Reserved for compatibility, not used in full-text single-loop
            mode.
          max: null
          min: null
          name: thread_num
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: dedupe_by_rule_code_quote_location
          form: llm
          human_description:
            en_US: Controls how duplicate risk hits are deduplicated during aggregation.
            ja_JP: Controls how duplicate risk hits are deduplicated during aggregation.
            pt_BR: Controls how duplicate risk hits are deduplicated during aggregation.
            zh_Hans: 控制风险聚合时重复命中的去重方式。
          label:
            en_US: Merge Policy
            ja_JP: Merge Policy
            pt_BR: Merge Policy
            zh_Hans: 风险合并策略
          llm_description: Merge policy for dedupe and conflict resolution among risk
            hits.
          max: null
          min: null
          name: merge_policy
          options:
          - icon: ''
            label:
              en_US: Rule+Quote+Location
              ja_JP: Rule+Quote+Location
              pt_BR: Rule+Quote+Location
              zh_Hans: 规则+引用+位置
            value: dedupe_by_rule_code_quote_location
          - icon: ''
            label:
              en_US: Rule+Quote
              ja_JP: Rule+Quote
              pt_BR: Rule+Quote
              zh_Hans: 规则+引用
            value: dedupe_by_rule_code_quote
          - icon: ''
            label:
              en_US: Quote only
              ja_JP: Quote only
              pt_BR: Quote only
              zh_Hans: 仅按引用去重
            value: dedupe_by_quote
          - icon: ''
            label:
              en_US: Rule only
              ja_JP: Rule only
              pt_BR: Rule only
              zh_Hans: 仅按规则去重
            value: dedupe_by_rule_code
          - icon: ''
            label:
              en_US: Chunk+Rule
              ja_JP: Chunk+Rule
              pt_BR: Chunk+Rule
              zh_Hans: 按切片+规则去重
            value: dedupe_by_chunk_rule
          - icon: ''
            label:
              en_US: No dedupe
              ja_JP: No dedupe
              pt_BR: No dedupe
              zh_Hans: 不去重
            value: no_dedupe
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: comment
          form: llm
          human_description:
            en_US: Annotation style for the generated Word comments.
            ja_JP: Annotation style for the generated Word comments.
            pt_BR: Annotation style for the generated Word comments.
            zh_Hans: 生成 Word 批注时使用的批注风格。
          label:
            en_US: Annotation Style
            ja_JP: Annotation Style
            pt_BR: Annotation Style
            zh_Hans: 批注风格
          llm_description: Annotation style for the generated Word comments.
          max: null
          min: null
          name: annotation_style
          options:
          - icon: ''
            label:
              en_US: Comment
              ja_JP: Comment
              pt_BR: Comment
              zh_Hans: 批注
            value: comment
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: keep_highest_risk
          form: llm
          human_description:
            en_US: Strategy used when multiple risk comments target the same original
              text.
            ja_JP: Strategy used when multiple risk comments target the same original
              text.
            pt_BR: Strategy used when multiple risk comments target the same original
              text.
            zh_Hans: 当同一原文存在多个风险批注时使用的合并策略。
          label:
            en_US: Revision Merge Strategy
            ja_JP: Revision Merge Strategy
            pt_BR: Revision Merge Strategy
            zh_Hans: 修订合并策略
          llm_description: Strategy for handling multiple comments on the same original
            text.
          max: null
          min: null
          name: merge_strategy
          options:
          - icon: ''
            label:
              en_US: Keep Highest Risk
              ja_JP: Keep Highest Risk
              pt_BR: Keep Highest Risk
              zh_Hans: 按风险等级保留
            value: keep_highest_risk
          - icon: ''
            label:
              en_US: Keep Semantic Best
              ja_JP: Keep Semantic Best
              pt_BR: Keep Semantic Best
              zh_Hans: 按语义保留
            value: keep_semantic
          - icon: ''
            label:
              en_US: Semantic Merge
              ja_JP: Semantic Merge
              pt_BR: Semantic Merge
              zh_Hans: 语义合并
            value: merge_semantic
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: 'no'
          form: llm
          human_description:
            en_US: Whether to apply the latest revision text back to the original
              document.
            ja_JP: Whether to apply the latest revision text back to the original
              document.
            pt_BR: Whether to apply the latest revision text back to the original
              document.
            zh_Hans: 是否将最终修订内容回写到原文。
          label:
            en_US: Apply to Original
            ja_JP: Apply to Original
            pt_BR: Apply to Original
            zh_Hans: 是否修改原文
          llm_description: Whether to apply the latest revision text back to the original
            document.
          max: null
          min: null
          name: apply_to_original
          options:
          - icon: ''
            label:
              en_US: 'No'
              ja_JP: 'No'
              pt_BR: 'No'
              zh_Hans: 否
            value: 'no'
          - icon: ''
            label:
              en_US: 'Yes'
              ja_JP: 'Yes'
              pt_BR: 'Yes'
              zh_Hans: 是
            value: 'yes'
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Final revised output file name without extension.
            ja_JP: Final revised output file name without extension.
            pt_BR: Final revised output file name without extension.
            zh_Hans: 最终修订文件名，不含扩展名。
          label:
            en_US: Output File Name
            ja_JP: Output File Name
            pt_BR: Output File Name
            zh_Hans: 输出文件名
          llm_description: Final revised output file name without extension.
          max: null
          min: null
          name: output_file_name
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: summary_only
          form: llm
          human_description:
            en_US: summary_only outputs only final summary; detailed outputs full
              intermediate payload.
            ja_JP: summary_only outputs only final summary; detailed outputs full
              intermediate payload.
            pt_BR: summary_only outputs only final summary; detailed outputs full
              intermediate payload.
            zh_Hans: summary_only 仅输出最终 summary；detailed 输出完整中间信息。
          label:
            en_US: JSON Output Mode
            ja_JP: JSON Output Mode
            pt_BR: JSON Output Mode
            zh_Hans: JSON输出模式
          llm_description: 'Control final JSON output mode: summary_only or detailed.'
          max: null
          min: null
          name: output_json_mode
          options:
          - icon: ''
            label:
              en_US: Summary Only
              ja_JP: Summary Only
              pt_BR: Summary Only
              zh_Hans: 仅摘要
            value: summary_only
          - icon: ''
            label:
              en_US: Detailed
              ja_JP: Detailed
              pt_BR: Detailed
              zh_Hans: 详细
            value: detailed
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: revised_only
          form: llm
          human_description:
            en_US: revised_only outputs only revised_reviewed file; both outputs reviewed
              and revised_reviewed files.
            ja_JP: revised_only outputs only revised_reviewed file; both outputs reviewed
              and revised_reviewed files.
            pt_BR: revised_only outputs only revised_reviewed file; both outputs reviewed
              and revised_reviewed files.
            zh_Hans: revised_only 仅输出 revised_reviewed；both 同时输出 reviewed 与 revised_reviewed。
          label:
            en_US: Output File Mode
            ja_JP: Output File Mode
            pt_BR: Output File Mode
            zh_Hans: 输出文件模式
          llm_description: 'Control file outputs: revised_only or both.'
          max: null
          min: null
          name: output_file_mode
          options:
          - icon: ''
            label:
              en_US: Revised Only
              ja_JP: Revised Only
              pt_BR: Revised Only
              zh_Hans: 仅修订稿
            value: revised_only
          - icon: ''
            label:
              en_US: Both Files
              ja_JP: Both Files
              pt_BR: Both Files
              zh_Hans: 两个文件
            value: both
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        params:
          annotation_style: ''
          apply_to_original: ''
          audit_strategy: ''
          extra_hint: ''
          merge_policy: ''
          merge_strategy: ''
          model_config: ''
          output_file_mode: ''
          output_file_name: ''
          output_json_mode: ''
          output_language: ''
          rules_file: ''
          thread_num: ''
          upload_file: ''
        plugin_id: sawyer-shi/doc-review-agent
        plugin_unique_identifier: sawyer-shi/doc-review-agent:0.0.2@0e6254bb5108a1217f106c575849e2a6381179edff84449a68e3a94e3967a176
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=845c4965-7f81-4299-b877-276ac4792c36&filename=ce1b876bd3c4c4d573f10a4cfbebfc84a1b88d405af0c5c45702394a6022f49c.svg
        provider_id: sawyer-shi/doc-review-agent/doc-review-agent
        provider_name: sawyer-shi/doc-review-agent/doc-review-agent
        provider_type: builtin
        selected: false
        title: 文档审核--简单审核(非范本审核)
        tool_configurations:
          model_config:
            type: constant
            value:
              completion_params: {}
              mode: chat
              model: glm-4.7
              model_type: llm
              provider: langgenius/zhipuai/zhipuai
        tool_description: 在一个工具中完成短文档全文审核、规则加载、风险聚合、批注与修订。
        tool_label: 文档审核
        tool_name: doc-audit
        tool_node_version: '2'
        tool_parameters:
          annotation_style:
            type: constant
            value: comment
          apply_to_original:
            type: constant
            value: 'yes'
          audit_strategy:
            type: constant
            value: balanced
          extra_hint:
            type: mixed
            value: null
          merge_policy:
            type: constant
            value: dedupe_by_rule_code_quote_location
          merge_strategy:
            type: constant
            value: keep_highest_risk
          output_file_mode:
            type: constant
            value: revised_only
          output_file_name:
            type: mixed
            value: null
          output_json_mode:
            type: constant
            value: summary_only
          output_language:
            type: constant
            value: auto
          rules_file:
            type: variable
            value:
            - '1775979926518'
            - rule_excel_csv_file
          thread_num:
            type: constant
            value: 1
          upload_file:
            type: variable
            value:
            - '1775979926518'
            - doc_file
        type: tool
      height: 88
      id: '1775979956616'
      position:
        x: 507
        y: 303
      positionAbsolute:
        x: 507
        y: 303
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1775979956616'
          - text
          value_type: string
          variable: text
        - value_selector:
          - '1775979956616'
          - json
          value_type: array[object]
          variable: json
        - value_selector:
          - '1775979956616'
          - files
          value_type: array[file]
          variable: files
        selected: false
        title: 输出
        type: end
      height: 140
      id: '1775979960454'
      position:
        x: 1227
        y: 303
      positionAbsolute:
        x: 1227
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        author: sawyer
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"防止超时可以修改参数PLUGIN_MAX_EXECUTION_TIMEOUT来增加处理时间，防止超时！！！","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":null,"format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 932
      height: 88
      id: '1775986712457'
      position:
        x: 257
        y: 144.5
      positionAbsolute:
        x: 257
        y: 144.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 932
    viewport:
      x: 213
      y: 252.5
      zoom: 1
  rag_pipeline_variables: []
