src/doc-review-agent/agent_dsl/文档审核--多线程处理模式.yml
app:
  description: ''
  icon: fc83ba2a-7e74-4bf7-ac3b-22165faf8022
  icon_background: ''
  icon_type: image
  mode: workflow
  name: 文档审核--多线程处理模式
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: package
  value:
    plugin_unique_identifier: sawyer-shi/doc-review-agent:0.0.1@906e2127bad25c9fd34c4817ae1c9e90d2eae0f1396a0c83835ff6a521dd7454
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: tool
      id: 1773900880786-source-1773900901156-target
      source: '1773900880786'
      sourceHandle: source
      target: '1773900901156'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: tool
      id: 1773900880786-source-1773900922936-target
      source: '1773900880786'
      sourceHandle: source
      target: '1773900922936'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: tool
      id: 1773901033784-source-1773901045139-target
      source: '1773901033784'
      sourceHandle: source
      target: '1773901045139'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: tool
      id: 1773900901156-source-1774322298531-target
      source: '1773900901156'
      sourceHandle: source
      target: '1774322298531'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: tool
      id: 1774322298531-source-1773901033784-target
      source: '1774322298531'
      sourceHandle: source
      target: '1773901033784'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: tool
      id: 1773900922936-source-1774322298531-target
      source: '1773900922936'
      sourceHandle: source
      target: '1774322298531'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: tool
      id: 1773901045139-source-1775188219109-target
      source: '1773901045139'
      sourceHandle: source
      target: '1775188219109'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: end
      id: 1773901045139-source-1773901049392-target
      source: '1773901045139'
      sourceHandle: source
      target: '1773901049392'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: end
      id: 1775188219109-source-1775188240101-target
      source: '1775188219109'
      sourceHandle: source
      target: '1775188240101'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          default: ''
          hint: ''
          label: docx文档
          options: []
          placeholder: ''
          required: true
          type: file
          variable: doc_file
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          default: ''
          hint: ''
          label: xlsx或csv文件
          options: []
          placeholder: ''
          required: true
          type: file
          variable: excel_file
      height: 135
      id: '1773900880786'
      position:
        x: -131.13356795434078
        y: 245
      positionAbsolute:
        x: -131.13356795434078
        y: 245
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: The LLM model to use for parsing.
            ja_JP: The LLM model to use for parsing.
            pt_BR: The LLM model to use for parsing.
            zh_Hans: 用于解析的 LLM 模型。
          label:
            en_US: LLM Model
            ja_JP: LLM Model
            pt_BR: LLM Model
            zh_Hans: LLM 模型
          llm_description: The LLM model to use for parsing.
          max: null
          min: null
          name: model_config
          options: []
          placeholder: null
          precision: null
          required: true
          scope: llm
          template: null
          type: model-selector
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The document file to parse (docx only).
            ja_JP: The document file to parse (docx only).
            pt_BR: The document file to parse (docx only).
            zh_Hans: 要解析的文档文件（仅 docx）。
          label:
            en_US: File
            ja_JP: File
            pt_BR: File
            zh_Hans: 上传文件
          llm_description: The document file to parse.
          max: null
          min: null
          name: upload_file
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: file
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Optional hint for parsing strategy.
            ja_JP: Optional hint for parsing strategy.
            pt_BR: Optional hint for parsing strategy.
            zh_Hans: 可选解析提示。
          label:
            en_US: Parse Hint
            ja_JP: Parse Hint
            pt_BR: Parse Hint
            zh_Hans: 解析提示
          llm_description: Optional hint for parsing strategy.
          max: null
          min: null
          name: parse_hint
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: 1200
          form: llm
          human_description:
            en_US: Suggested max characters per chunk.
            ja_JP: Suggested max characters per chunk.
            pt_BR: Suggested max characters per chunk.
            zh_Hans: 每个切片的建议最大字符数。
          label:
            en_US: Max Chunk Chars
            ja_JP: Max Chunk Chars
            pt_BR: Max Chunk Chars
            zh_Hans: 切片最大字符数
          llm_description: Suggested max characters per chunk.
          max: null
          min: null
          name: max_chunk_chars
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        params:
          max_chunk_chars: ''
          model_config: ''
          parse_hint: ''
          upload_file: ''
        plugin_id: sawyer-shi/doc-review-agent
        plugin_unique_identifier: sawyer-shi/doc-review-agent:0.0.1@f010fb37d5d9fb7f46f0aedf4e226196856b0d71b968b9e760bf26750b72f688
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=845c4965-7f81-4299-b877-276ac4792c36&filename=ce1b876bd3c4c4d573f10a4cfbebfc84a1b88d405af0c5c45702394a6022f49c.svg
        provider_id: sawyer-shi/doc-review-agent/doc-review-agent
        provider_name: sawyer-shi/doc-review-agent/doc-review-agent
        provider_type: builtin
        selected: false
        title: 1.文档解析切片
        tool_configurations:
          model_config:
            type: constant
            value:
              completion_params: {}
              mode: chat
              model: glm-4.7
              model_type: llm
              provider: langgenius/zhipuai/zhipuai
        tool_description: 使用模型辅助将文档解析为审核切片。
        tool_label: 1.文档解析切片
        tool_name: doc_slice_parser
        tool_node_version: '2'
        tool_parameters:
          max_chunk_chars:
            type: constant
            value: 1200
          parse_hint:
            type: mixed
            value: ''
          slice_strategy:
            type: constant
            value: ''
          upload_file:
            type: variable
            value:
            - '1773900880786'
            - doc_file
        type: tool
      height: 88
      id: '1773900901156'
      position:
        x: 308.87100162130764
        y: 208
      positionAbsolute:
        x: 308.87100162130764
        y: 208
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Upload a rules file in .xlsx or .csv format.
            ja_JP: Upload a rules file in .xlsx or .csv format.
            pt_BR: Upload a rules file in .xlsx or .csv format.
            zh_Hans: 上传 .xlsx 或 .csv 规则文件。
          label:
            en_US: Rules File
            ja_JP: Rules File
            pt_BR: Rules File
            zh_Hans: 规则文件
          llm_description: Rules file in .xlsx or .csv format.
          max: null
          min: null
          name: rules_file
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: file
        params:
          rules_file: ''
        plugin_id: sawyer-shi/doc-review-agent
        plugin_unique_identifier: sawyer-shi/doc-review-agent:0.0.1@f010fb37d5d9fb7f46f0aedf4e226196856b0d71b968b9e760bf26750b72f688
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=845c4965-7f81-4299-b877-276ac4792c36&filename=ce1b876bd3c4c4d573f10a4cfbebfc84a1b88d405af0c5c45702394a6022f49c.svg
        provider_id: sawyer-shi/doc-review-agent/doc-review-agent
        provider_name: sawyer-shi/doc-review-agent/doc-review-agent
        provider_type: builtin
        selected: false
        title: 2.审核规则加载
        tool_configurations: {}
        tool_description: 从 xlsx/csv 直接加载审核规则，不做模型筛选。
        tool_label: 2.审核规则加载
        tool_name: rule_loader
        tool_node_version: '2'
        tool_parameters:
          rules_file:
            type: variable
            value:
            - '1773900880786'
            - excel_file
        type: tool
      height: 52
      id: '1773900922936'
      position:
        x: 308.87100162130764
        y: 348.68049208922713
      positionAbsolute:
        x: 308.87100162130764
        y: 348.68049208922713
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: The LLM model to use for aggregation.
            ja_JP: The LLM model to use for aggregation.
            pt_BR: The LLM model to use for aggregation.
            zh_Hans: 用于聚合的 LLM 模型。
          label:
            en_US: LLM Model
            ja_JP: LLM Model
            pt_BR: LLM Model
            zh_Hans: LLM 模型
          llm_description: The LLM model to use for aggregation.
          max: null
          min: null
          name: model_config
          options: []
          placeholder: null
          precision: null
          required: true
          scope: llm
          template: null
          type: model-selector
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Raw audit results from multiple chunks.
            ja_JP: Raw audit results from multiple chunks.
            pt_BR: Raw audit results from multiple chunks.
            zh_Hans: 多个切片的原始审核结果。
          label:
            en_US: Raw Results
            ja_JP: Raw Results
            pt_BR: Raw Results
            zh_Hans: 原始结果
          llm_description: Raw audit results from multiple chunks.
          max: null
          min: null
          name: raw_results
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: dedupe_by_rule_code_quote_location
          form: llm
          human_description:
            en_US: Policy for conflict resolution.
            ja_JP: Policy for conflict resolution.
            pt_BR: Policy for conflict resolution.
            zh_Hans: 冲突合并策略。
          label:
            en_US: Merge Policy
            ja_JP: Merge Policy
            pt_BR: Merge Policy
            zh_Hans: 合并策略
          llm_description: Policy for conflict resolution.
          max: null
          min: null
          name: merge_policy
          options:
          - icon: ''
            label:
              en_US: Rule+Quote+Location (recommended)
              ja_JP: Rule+Quote+Location (recommended)
              pt_BR: Rule+Quote+Location (recommended)
              zh_Hans: 规则+引用+位置（推荐）
            value: dedupe_by_rule_code_quote_location
          - icon: ''
            label:
              en_US: Rule+Quote (recommended)
              ja_JP: Rule+Quote (recommended)
              pt_BR: Rule+Quote (recommended)
              zh_Hans: 规则+引用（推荐）
            value: dedupe_by_rule_code_quote
          - icon: ''
            label:
              en_US: Quote only
              ja_JP: Quote only
              pt_BR: Quote only
              zh_Hans: 仅按引用去重
            value: dedupe_by_quote
          - icon: ''
            label:
              en_US: Rule only
              ja_JP: Rule only
              pt_BR: Rule only
              zh_Hans: 仅按规则去重
            value: dedupe_by_rule_code
          - icon: ''
            label:
              en_US: Chunk+Rule
              ja_JP: Chunk+Rule
              pt_BR: Chunk+Rule
              zh_Hans: 按切片+规则去重
            value: dedupe_by_chunk_rule
          - icon: ''
            label:
              en_US: No dedupe
              ja_JP: No dedupe
              pt_BR: No dedupe
              zh_Hans: 不去重
            value: no_dedupe
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        params:
          merge_policy: ''
          model_config: ''
          raw_results: ''
        plugin_id: sawyer-shi/doc-review-agent
        plugin_unique_identifier: sawyer-shi/doc-review-agent:0.0.1@f010fb37d5d9fb7f46f0aedf4e226196856b0d71b968b9e760bf26750b72f688
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=845c4965-7f81-4299-b877-276ac4792c36&filename=ce1b876bd3c4c4d573f10a4cfbebfc84a1b88d405af0c5c45702394a6022f49c.svg
        provider_id: sawyer-shi/doc-review-agent/doc-review-agent
        provider_name: sawyer-shi/doc-review-agent/doc-review-agent
        provider_type: builtin
        selected: false
        title: 4.风险聚合器
        tool_configurations:
          model_config:
            type: constant
            value:
              completion_params: {}
              mode: chat
              model: glm-4.7
              model_type: llm
              provider: langgenius/zhipuai/zhipuai
        tool_description: 按 matched_rule_code 和 quote 聚合去重风险。
        tool_label: 4.风险聚合器
        tool_name: risk_aggregator
        tool_node_version: '2'
        tool_parameters:
          merge_policy:
            type: constant
            value: dedupe_by_rule_code_quote_location
          raw_results:
            type: mixed
            value: '{{#1774322298531.text#}}'
        type: tool
      height: 88
      id: '1773901033784'
      position:
        x: 1344.6986122407216
        y: 274.6915289264575
      positionAbsolute:
        x: 1344.6986122407216
        y: 274.6915289264575
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: The LLM model to use for annotations.
            ja_JP: The LLM model to use for annotations.
            pt_BR: The LLM model to use for annotations.
            zh_Hans: 用于批注生成的 LLM 模型。
          label:
            en_US: LLM Model
            ja_JP: LLM Model
            pt_BR: LLM Model
            zh_Hans: LLM 模型
          llm_description: The LLM model to use for annotations.
          max: null
          min: null
          name: model_config
          options: []
          placeholder: null
          precision: null
          required: true
          scope: llm
          template: null
          type: model-selector
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The original document file (docx only).
            ja_JP: The original document file (docx only).
            pt_BR: The original document file (docx only).
            zh_Hans: 原始文档文件（仅 docx）。
          label:
            en_US: File
            ja_JP: File
            pt_BR: File
            zh_Hans: 上传文件
          llm_description: The original document file.
          max: null
          min: null
          name: upload_file
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: file
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The aggregated audit report JSON.
            ja_JP: The aggregated audit report JSON.
            pt_BR: The aggregated audit report JSON.
            zh_Hans: 聚合后的审核报告 JSON。
          label:
            en_US: Audit Report
            ja_JP: Audit Report
            pt_BR: Audit Report
            zh_Hans: 审核报告
          llm_description: The aggregated audit report JSON.
          max: null
          min: null
          name: audit_report
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: comment
          form: llm
          human_description:
            en_US: comment only.
            ja_JP: comment only.
            pt_BR: comment only.
            zh_Hans: 仅支持 comment。
          label:
            en_US: Annotation Style
            ja_JP: Annotation Style
            pt_BR: Annotation Style
            zh_Hans: 批注风格
          llm_description: Annotation style.
          max: null
          min: null
          name: annotation_style
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The output file name without extension.
            ja_JP: The output file name without extension.
            pt_BR: The output file name without extension.
            zh_Hans: 输出文件名（不含扩展名）。
          label:
            en_US: Output File Name
            ja_JP: Output File Name
            pt_BR: Output File Name
            zh_Hans: 输出文件名
          llm_description: The output file name without extension.
          max: null
          min: null
          name: output_file_name
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: 'no'
          form: llm
          human_description:
            en_US: no=only comments, yes=modify original text and add before/after
              in comments.
            ja_JP: no=only comments, yes=modify original text and add before/after
              in comments.
            pt_BR: no=only comments, yes=modify original text and add before/after
              in comments.
            zh_Hans: no=仅批注，yes=按建议修改原文并在批注写原文与修改后。
          label:
            en_US: Apply to Original
            ja_JP: Apply to Original
            pt_BR: Apply to Original
            zh_Hans: 是否修改原文
          llm_description: Whether to apply suggested edits to original text.
          max: null
          min: null
          name: apply_to_original
          options:
          - icon: ''
            label:
              en_US: 'No'
              ja_JP: 'No'
              pt_BR: 'No'
              zh_Hans: 否
            value: 'no'
          - icon: ''
            label:
              en_US: 'Yes'
              ja_JP: 'Yes'
              pt_BR: 'Yes'
              zh_Hans: 是
            value: 'yes'
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        params:
          annotation_style: ''
          apply_to_original: ''
          audit_report: ''
          model_config: ''
          output_file_name: ''
          upload_file: ''
        plugin_id: sawyer-shi/doc-review-agent
        plugin_unique_identifier: sawyer-shi/doc-review-agent:0.0.1@f010fb37d5d9fb7f46f0aedf4e226196856b0d71b968b9e760bf26750b72f688
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=845c4965-7f81-4299-b877-276ac4792c36&filename=ce1b876bd3c4c4d573f10a4cfbebfc84a1b88d405af0c5c45702394a6022f49c.svg
        provider_id: sawyer-shi/doc-review-agent/doc-review-agent
        provider_name: sawyer-shi/doc-review-agent/doc-review-agent
        provider_type: builtin
        selected: false
        title: 5.批注生成
        tool_configurations:
          model_config:
            type: constant
            value:
              completion_params: {}
              mode: chat
              model: glm-4.7
              model_type: llm
              provider: langgenius/zhipuai/zhipuai
        tool_description: 生成原生 Word 批注，格式为 [rule_code][severity] 文本。
        tool_label: 5.批注生成
        tool_name: doc_annotator
        tool_node_version: '2'
        tool_parameters:
          annotation_style:
            type: constant
            value: comment
          apply_to_original:
            type: constant
            value: 'yes'
          audit_report:
            type: mixed
            value: '{{#1773901033784.text#}}'
          output_file_name:
            type: mixed
            value: ''
          upload_file:
            type: variable
            value:
            - '1773900880786'
            - doc_file
        type: tool
      height: 88
      id: '1773901045139'
      position:
        x: 1766.2744725760797
        y: 274.6915289264575
      positionAbsolute:
        x: 1766.2744725760797
        y: 274.6915289264575
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1773901045139'
          - text
          value_type: string
          variable: text
        - value_selector:
          - '1773901045139'
          - files
          value_type: array[file]
          variable: files
        - value_selector:
          - '1773901045139'
          - json
          value_type: array[object]
          variable: json
        selected: false
        title: 输出--批注结果
        type: end
      height: 140
      id: '1773901049392'
      position:
        x: 2284.267082270186
        y: 266
      positionAbsolute:
        x: 2284.267082270186
        y: 266
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: The LLM model to use for auditing.
            ja_JP: The LLM model to use for auditing.
            pt_BR: The LLM model to use for auditing.
            zh_Hans: 用于审核的 LLM 模型。
          label:
            en_US: LLM Model
            ja_JP: LLM Model
            pt_BR: LLM Model
            zh_Hans: LLM 模型
          llm_description: The LLM model to use for auditing.
          max: null
          min: null
          name: model_config
          options: []
          placeholder: null
          precision: null
          required: true
          scope: llm
          template: null
          type: model-selector
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Text output from doc_slice_parser (JSON string).
            ja_JP: Text output from doc_slice_parser (JSON string).
            pt_BR: Text output from doc_slice_parser (JSON string).
            zh_Hans: 来自 doc_slice_parser 的 text 输出（JSON 字符串）。
          label:
            en_US: Doc Slices Text
            ja_JP: Doc Slices Text
            pt_BR: Doc Slices Text
            zh_Hans: 切片结果文本
          llm_description: Text output from doc_slice_parser (JSON string).
          max: null
          min: null
          name: doc_slices_text
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Text output from rule_loader (JSON string).
            ja_JP: Text output from rule_loader (JSON string).
            pt_BR: Text output from rule_loader (JSON string).
            zh_Hans: 来自 rule_loader 的 text 输出（JSON 字符串）。
          label:
            en_US: Rules Text
            ja_JP: Rules Text
            pt_BR: Rules Text
            zh_Hans: 规则结果文本
          llm_description: Text output from rule_loader (JSON string).
          max: null
          min: null
          name: rules_text
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Optional extra hint. For example, "I am the first party" or "I
              am the second party".
            ja_JP: Optional extra hint. For example, "I am the first party" or "I
              am the second party".
            pt_BR: Optional extra hint. For example, "I am the first party" or "I
              am the second party".
            zh_Hans: 可选额外提示(例如：我是甲方 或 我是乙方)。
          label:
            en_US: Extra Hint
            ja_JP: Extra Hint
            pt_BR: Extra Hint
            zh_Hans: 额外提示
          llm_description: Optional extra hint.
          max: null
          min: null
          name: extra_hint
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: auto
          form: llm
          human_description:
            en_US: Output language. auto means detect from document text.
            ja_JP: Output language. auto means detect from document text.
            pt_BR: Output language. auto means detect from document text.
            zh_Hans: 输出语言。auto 表示根据文档文本自动识别。
          label:
            en_US: Output Language
            ja_JP: Output Language
            pt_BR: Output Language
            zh_Hans: 输出语言
          llm_description: Output language. auto means detect from document text.
          max: null
          min: null
          name: output_language
          options:
          - icon: ''
            label:
              en_US: Chinese
              ja_JP: Chinese
              pt_BR: Chinese
              zh_Hans: 中文
            value: zh
          - icon: ''
            label:
              en_US: English
              ja_JP: English
              pt_BR: English
              zh_Hans: 英文
            value: en
          - icon: ''
            label:
              en_US: Auto Detect
              ja_JP: Auto Detect
              pt_BR: Auto Detect
              zh_Hans: 自动识别
            value: auto
          - icon: ''
            label:
              en_US: Japanese
              ja_JP: Japanese
              pt_BR: Japanese
              zh_Hans: 日文
            value: ja
          - icon: ''
            label:
              en_US: Korean
              ja_JP: Korean
              pt_BR: Korean
              zh_Hans: 韩文
            value: ko
          - icon: ''
            label:
              en_US: Spanish
              ja_JP: Spanish
              pt_BR: Spanish
              zh_Hans: 西班牙文
            value: es
          - icon: ''
            label:
              en_US: French
              ja_JP: French
              pt_BR: French
              zh_Hans: 法文
            value: fr
          - icon: ''
            label:
              en_US: German
              ja_JP: German
              pt_BR: German
              zh_Hans: 德文
            value: de
          - icon: ''
            label:
              en_US: Portuguese
              ja_JP: Portuguese
              pt_BR: Portuguese
              zh_Hans: 葡萄牙文
            value: pt
          - icon: ''
            label:
              en_US: Russian
              ja_JP: Russian
              pt_BR: Russian
              zh_Hans: 俄文
            value: ru
          - icon: ''
            label:
              en_US: Arabic
              ja_JP: Arabic
              pt_BR: Arabic
              zh_Hans: 阿拉伯文
            value: ar
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        params:
          doc_slices_text: ''
          extra_hint: ''
          model_config: ''
          output_language: ''
          rules_text: ''
        plugin_id: sawyer-shi/doc-review-agent
        plugin_unique_identifier: sawyer-shi/doc-review-agent:0.0.1@f86323d0291b81e878a937d4ba8f60f98d04a030e81e2094a434e21c9ab8fc66
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=845c4965-7f81-4299-b877-276ac4792c36&filename=ce1b876bd3c4c4d573f10a4cfbebfc84a1b88d405af0c5c45702394a6022f49c.svg
        provider_id: sawyer-shi/doc-review-agent/doc-review-agent
        provider_name: sawyer-shi/doc-review-agent/doc-review-agent
        provider_type: builtin
        selected: false
        title: 3.文档审核--支持多线程处理
        tool_configurations:
          model_config:
            type: constant
            value:
              completion_params: {}
              mode: chat
              model: glm-4.7
              model_type: llm
              provider: langgenius/zhipuai/zhipuai
        tool_description: 对切片与规则执行双循环审核（来自两个 text 输入）。
        tool_label: 3.文档审核--自带双循环(不需要添加外循环)
        tool_name: chunk_auditor
        tool_node_version: '2'
        tool_parameters:
          doc_slices_text:
            type: mixed
            value: '{{#1773900901156.text#}}'
          extra_hint:
            type: mixed
            value: null
          output_language:
            type: constant
            value: auto
          rules_text:
            type: mixed
            value: '{{#1773900922936.text#}}'
          thread_num:
            type: constant
            value: 5
        type: tool
      height: 88
      id: '1774322298531'
      position:
        x: 769.3767237465712
        y: 274.6915289264575
      positionAbsolute:
        x: 769.3767237465712
        y: 274.6915289264575
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        author: sawyer
        desc: ''
        height: 153
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"文档审核时长，受审核文档和规则复杂度影响。","type":"text","version":1},{"type":"linebreak","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"防止超时可以修改参数PLUGIN_MAX_EXECUTION_TIMEOUT来增加处理时间，防止超时！！！","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":null,"format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 1253
      height: 153
      id: '1774336655781'
      position:
        x: 756.0684283559001
        y: 54.3121084858372
      positionAbsolute:
        x: 756.0684283559001
        y: 54.3121084858372
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 1253
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: The LLM model to use for semantic merge/selection.
            ja_JP: The LLM model to use for semantic merge/selection.
            pt_BR: The LLM model to use for semantic merge/selection.
            zh_Hans: 用于语义合并/选择的 LLM 模型。
          label:
            en_US: LLM Model
            ja_JP: LLM Model
            pt_BR: LLM Model
            zh_Hans: LLM 模型
          llm_description: The LLM model to use for semantic merge/selection.
          max: null
          min: null
          name: model_config
          options: []
          placeholder: null
          precision: null
          required: true
          scope: llm
          template: null
          type: model-selector
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The docx file generated by doc_annotator.
            ja_JP: The docx file generated by doc_annotator.
            pt_BR: The docx file generated by doc_annotator.
            zh_Hans: 来自 doc_annotator 的 docx 文件。
          label:
            en_US: File
            ja_JP: File
            pt_BR: File
            zh_Hans: 上传文件
          llm_description: The docx file generated by doc_annotator.
          max: null
          min: null
          name: upload_file
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: file
        - auto_generate: null
          default: keep_highest_risk
          form: llm
          human_description:
            en_US: Strategy used only when the same original text has multiple risk
              comments.
            ja_JP: Strategy used only when the same original text has multiple risk
              comments.
            pt_BR: Strategy used only when the same original text has multiple risk
              comments.
            zh_Hans: 仅在同一段原文存在多个风险批注时生效的合并策略。
          label:
            en_US: Merge Strategy
            ja_JP: Merge Strategy
            pt_BR: Merge Strategy
            zh_Hans: 批注合并策略
          llm_description: Strategy for handling multiple comments on same original
            text.
          max: null
          min: null
          name: merge_strategy
          options:
          - icon: ''
            label:
              en_US: Keep Highest Risk
              ja_JP: Keep Highest Risk
              pt_BR: Keep Highest Risk
              zh_Hans: 按风险等级保留批注
            value: keep_highest_risk
          - icon: ''
            label:
              en_US: Keep Semantic Best
              ja_JP: Keep Semantic Best
              pt_BR: Keep Semantic Best
              zh_Hans: 按语义理解保留批注
            value: keep_semantic
          - icon: ''
            label:
              en_US: Semantic Merge
              ja_JP: Semantic Merge
              pt_BR: Semantic Merge
              zh_Hans: 按语义理解综合批注
            value: merge_semantic
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: 'no'
          form: llm
          human_description:
            en_US: no=keep text and refresh comments, yes=apply latest revised text
              and keep latest comments.
            ja_JP: no=keep text and refresh comments, yes=apply latest revised text
              and keep latest comments.
            pt_BR: no=keep text and refresh comments, yes=apply latest revised text
              and keep latest comments.
            zh_Hans: no=仅刷新批注不改原文，yes=按最新批注修改原文并保留最新批注。
          label:
            en_US: Apply to Original
            ja_JP: Apply to Original
            pt_BR: Apply to Original
            zh_Hans: 是否修改原文
          llm_description: Whether to apply latest revision text to original content.
          max: null
          min: null
          name: apply_to_original
          options:
          - icon: ''
            label:
              en_US: 'No'
              ja_JP: 'No'
              pt_BR: 'No'
              zh_Hans: 否
            value: 'no'
          - icon: ''
            label:
              en_US: 'Yes'
              ja_JP: 'Yes'
              pt_BR: 'Yes'
              zh_Hans: 是
            value: 'yes'
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The output file name without extension.
            ja_JP: The output file name without extension.
            pt_BR: The output file name without extension.
            zh_Hans: 输出文件名（不含扩展名）。
          label:
            en_US: Output File Name
            ja_JP: Output File Name
            pt_BR: Output File Name
            zh_Hans: 输出文件名
          llm_description: The output file name without extension.
          max: null
          min: null
          name: output_file_name
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          apply_to_original: ''
          merge_strategy: ''
          model_config: ''
          output_file_name: ''
          upload_file: ''
        plugin_id: sawyer-shi/doc-review-agent
        plugin_unique_identifier: sawyer-shi/doc-review-agent:0.0.1@986b2521532a17ec3349aa0e9721faaf7a1a36e04a6591d0f8f234706cd7861e
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=845c4965-7f81-4299-b877-276ac4792c36&filename=ce1b876bd3c4c4d573f10a4cfbebfc84a1b88d405af0c5c45702394a6022f49c.svg
        provider_id: sawyer-shi/doc-review-agent/doc-review-agent
        provider_name: sawyer-shi/doc-review-agent/doc-review-agent
        provider_type: builtin
        selected: false
        title: 6.文件修正--可选节点
        tool_configurations:
          model_config:
            type: constant
            value:
              completion_params: {}
              mode: chat
              model: glm-4.7
              model_type: llm
              provider: langgenius/zhipuai/zhipuai
        tool_description: 对 doc_annotator 产出的重叠风险批注进行合并，并可按批注修改原文且保留最新批注。
        tool_label: 6.文件修正
        tool_name: file_revision
        tool_node_version: '2'
        tool_parameters:
          apply_to_original:
            type: constant
            value: 'yes'
          merge_strategy:
            type: constant
            value: keep_highest_risk
          output_file_name:
            type: mixed
            value: null
          upload_file:
            type: variable
            value:
            - '1773901045139'
            - files
        type: tool
      height: 88
      id: '1775188219109'
      position:
        x: 2284.267082270186
        y: -22.19775099744367
      positionAbsolute:
        x: 2284.267082270186
        y: -22.19775099744367
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1775188219109'
          - text
          value_type: string
          variable: lasttext
        - value_selector:
          - '1775188219109'
          - files
          value_type: array[file]
          variable: lastfiles
        - value_selector:
          - '1775188219109'
          - json
          value_type: array[object]
          variable: lastjson
        selected: false
        title: 输出--最终结果
        type: end
      height: 140
      id: '1775188240101'
      position:
        x: 2642.534218178867
        y: -22.19775099744367
      positionAbsolute:
        x: 2642.534218178867
        y: -22.19775099744367
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -621.4631703661406
      y: 322.5186763604981
      zoom: 0.5743491774985175
  rag_pipeline_variables: []
